<div class="issue">
  <p class="issue_name"><%= link_to issue.name, "#" %><p>
  <span class="issue_about"><%= issue.about %></span>
  <%= link_to "削除", "#", class: "issue_menu delete_issue", data: {confirm: "Issue を削除するぞ。"} %>
  <%= link_to "編集", "#", class: "issue_menu edit_issue" %>
</div>
