<% provide(:title, 'Issue') %>
<div class="row">
  <h1>Issue</h1>
  <%= link_to "Issueを作成", new_issue_path, class: "btn btn-lg btn-primary btn-new-issue" %>
  <div class="btn-new-issue-from-github">
    <a href="/issues/import">
      <i class="fab fa-github-square"></i>
    </a>
  </div>
  <div id="issues">
    <% if @issues.any? %>
      <%= render @issues %>
    <% else %>
      <div class="issue">
        <p class="issue_none">まだissueが作られてないみたいだな。<br>右上のボタンから作成してくれ。</p>
      </div>
    <% end %>
  </div>
</div>
<div class="paginate issues_paginate">
  <%= paginate @issues %>
</div>
