<div class="center jumbotron">
  <h1>PPO -Planning Poker Online-</h1>

  <h2>
    おや、ご新規さんみたいだな。<br>
    まずはアカウントを作成してくれ。
  </h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
