<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "PPOとは",   '/about' %></li>
      <li><%= link_to "ヘルプ", '/help' %></li>
      <li><%= link_to "コンタクト", '/contact' %></li>
    </ul>
  </nav>
</footer>
